{% extends layout_path %}

{% load i18n %}

{% block title %}Page 2{% endblock title %}

{% block content %}

<h4 class="py-3 mb-4">My Coding Journey</h4>
<p>
  I have been <strong>coding for 5 years</strong>, focusing primarily on front-end development. <br>
  My passion lies in crafting visually appealing and user-friendly websites, and I have become proficient in various front-end technologies. <br>
  While I excel in hackathons, I recognize that I still have room to improve in competitive programming.

  <p>My journey has been driven by a constant desire to refine my skills and create exceptional user experiences.</p>
  As a front-end developer, I strive for greatness in every project, ensuring that every detail is perfect.
</p>

<h4 class="py-3 mb-4">Technologies I Know</h4>
<p>I have gained proficiency in the following technologies:
<ul class="list-group">
  <li class="list-group-item">HTML</li>
  <li class="list-group-item">CSS</li>
  <li class="list-group-item">JavaScript</li>
  <li class="list-group-item">React</li>
  <li class="list-group-item">Bootstrap</li>
</ul>

<br> I continue to push my limits and work toward becoming the best front-end developer I can be.
</p>
{% endblock %}
