{% extends layout_path %}

{% load i18n %}

{% block title %}Page 2{% endblock title %}

{% block content %}

<h4 class="py-3 mb-4">What Is Carbon Footprint?</h4>
<p>
  A <strong>carbon footprint</strong> refers to the total amount of greenhouse gases, particularly carbon dioxide (CO<sub>2</sub>), <br> that are emitted into the atmosphere as a result of human activities.

  <p>Emissions are often produced through energy consumption, transportation, industrial processes, and agriculture.</p>
  The burning of fossil fuels, such as coal, oil, and natural gas, is a significant contributor to CO<sub>2</sub> emissions, which in turn accelerates climate change.
</p>

<h4 class="py-3 mb-4">How To Reduce Carbon Footprint?</h4>
<p>Adopt sustainable practices like:
<ul class="list-group">
  <li class="list-group-item">Using Renewable Energy</li>
  <li class="list-group-item">Improving Energy Efficiency</li>
  <li class="list-group-item">Minimizing Waste</li>
</ul>

<br> Addressing carbon emissions is critical in efforts to mitigate global warming and its adverse environmental impacts.
</p>
{% endblock %}
